:root {
    --fs-sm: 12px;
    --fs-md: 12px;
    --fs-xl: 20px;
    --fs-xxl: 24px;
    /* color */
    --tx-color-primary: #666666;
    --tx-color-secandary: #000000;
    /* font weight */
    --font-family: 'Poppins', sans-serif;
    /* font-weight */
    --fw-sm: 400;
    --fw-md: 500;
    --fw-xl: 600;
    --fw-xxl: 700;
}
@media (min-width:568px) {
    :root {
            --fs-sm: 14px;
            --fs-md: 18px;
            --fs-xl: 24px;
            --fs-xxl: 36px;
            /* color */
            --tx-color-primary: #666666;
            --tx-color-secandary: #000000;
            /* font weight */
            --font-family: 'Poppins', sans-serif;
            /* font-weight */
            --fw-sm: 400;
            --fw-md: 500;
            --fw-xl: 600;
            --fw-xxl: 700;
        }
}
@media (min-width:768px) {
    :root {
            --fs-sm: 14px;
            --fs-md: 18px;
            --fs-xl: 24px;
            --fs-xxl: 36px;
            /* color */
            --tx-color-primary: #666666;
            --tx-color-secandary: #000000;
            /* font weight */
            --font-family: 'Poppins', sans-serif;
            /* font-weight */
            --fw-sm: 400;
            --fw-md: 500;
            --fw-xl: 600;
            --fw-xxl: 700;
        }
}
@media (min-width:992px) {
    :root {
            --fs-sm: 14px;
            --fs-md: 18px;
            --fs-xl: 24px;
            --fs-xxl: 36px;
            /* color */
            --tx-color-primary: #666666;
            --tx-color-secandary: #000000;
            /* font weight */
            --font-family: 'Poppins', sans-serif;
            /* font-weight */
            --fw-sm: 400;
            --fw-md: 500;
            --fw-xl: 600;
            --fw-xxl: 700;
        }
}